{% extends "base.html" %}
{% load sportbar_custom_tags %}


{% block title %}
Your events
{% endblock title %}

{% block content %}
{% booked_tables_quantity as booked_tables_quantity %}


{% if booked_tables_quantity > 0 %}
  <h1>Your event list</h1>


<table class="table align-middle mb-0 bg-white form-added">
  <thead class="bg-light">
    <tr>
      <th>#</th>
      <th>Event</th>
      <th>Kick off</th>
      <th>Booked time</th>
      <th>Change</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% if object_list == "<QuerySet []>" %}
      oiuio
      {% endif %}
      {% for booked_table in object_list %}
      <tr>
        <td>
          {{ forloop.counter }}
        </td>
        <td>
          <div class="d-flex align-items-center">
            <img src="{{ booked_table.match.poster.url }}" alt="" style="width: 45px; height: 45px"
              class="rounded-circle" />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{ booked_table.match.title }}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ booked_table.match.event_date|date:"l - M j Y g.i A" }}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ booked_table.match.event_date|duration_filter }}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">
            <a href="{% url 'sportbar:booked-table-update' booked_table.pk %}">
              <button type="button" class="btn btn-secondary">Change</button>
            </a>
          </p>
        </td>
        <td>
          <p class="fw-normal mb-1">
            <a href="{% url 'sportbar:booked-table-delete' booked_table.pk %}">
              <button type="button" class="btn btn-danger">Delete</button>
            </a>
          </p>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
</div>
{% else %}
<div class="form-added">
  <h2>No matches selected</h2>
  <a href="{% url 'sportbar:home' %}#matches">
    <button type="button" class="btn btn-success">Select some</button>
  </a>
</div>
{% endif %}
{% endblock %}